# Nodemodules
node_modules/
packages/*/node_modules/

# Build
dist/
dist-electron/
build/
packages/*/dist/
packages/*/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Config
*.log
.env
CauHinh.json
*.ice
